
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #003366;
    text-decoration: none;
}

.brand span {
    color: #ff6600;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding-bottom: 5px;
    position: relative;
    transition: 0.3s;
}


.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6600;
    transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a:active::after {
    width: 100%;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(rgba(0, 51, 102, 0.8), rgba(0, 51, 102, 0.8)), 
                url('https://imgcdn.zigwheels.ph/medium/gallery/exterior/25/717/nissan-nv350-urvan-83012.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-badge {
    background: #ff6600;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.hero-quote {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-sub {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.btn-rent {
    display: inline-block;
    padding: 15px 40px;
    background: #ff6600;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-rent:hover {
    background: #e65c00;
    transform: scale(1.05);
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 5%;
    gap: 20px;
}

.feature {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex: 1;
}

.feature-icon {
    font-size: 3rem;
    margin-bottom: 15px;
}